[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
tabulate = "==0.8.7"
scikit-learn = "*"
seaborn = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
